---
const status = "OpenToWork";
---

<section class="lg:-mt-36 lg:mb-80 mb-[40rem]">

    <div class="flex items-center justify-center">
        <img class="rounded-full max-w-80" src="/emg_IMG.webp" alt="Foto">
        <a class="bg-[#26bb80] text-black p-1 rounded-xl absolute mt-52 ml-56 hover:bg-white" href="https://www.linkedin.com/in/emiliano-maldonado-garza/" target="_blank"><b class="font-bold">#</b>{status}</a>
    </div>

    <div>
        <h1 class="text-4xl mt-4 xl:-mt-8 text-center lg:text-start">👋¡HOLA!</h1>
        <p class="text-3xl">Soy <i class="efectico">Emiliano pfrueba G.</i></p>
        <p class="text-xl">Soy un desarrollador autodidacta y mi pasión es el desarrollo FullStack.
            <br>
            A lo largo de mi carrera, quiero crear soluciones innovadoras y 
            efcientes que marquen la diferencia.
        </p>
    </div>

</section>
