<dialog id="modal" open class="p-4 rounded-xl  text-center z-10">
    <h2 class="text-3xl text-center font-bold mb-3">🚧 ESTA WEB ESTA SIENDO REDISEÑADA 🚧</h2>
    <div class="flex justify-center">
        <p class="max-w-[35ch] font-semibold text-xl">Una disculpa por las molestias, pero esta web esta pasando por un rediseño total, 
            nuevos proyectos y algunas actualizaciones.
        </p>
    </div>
    <div class="flex justify-end">
        <button class="p-1 bg-red-500 rounded-xl text-white mt-3" onclick="window.modal.close();">Cerrar</button>
    </div>
</dialog>

<style>
    .not{
		background: rgba(255, 255, 255, 0.2);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(7.3px);
		-webkit-backdrop-filter: blur(7.3px);
	}
</style>