---
import WorkingCard from './Proyectos/WorkingCard.astro'
---

<section id="proyectos" class="-mt-80 mb-80 lg:mt-0 lg:mb-0 min-h-[100vh]">
    <h2 class="text-6xl font-bold text-end mb-16">Proyectos</h2>
    <div class="flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <WorkingCard title="Flora API" alt='FloraLOGO' src='/codingIMG.webp' desc="Una API donde se indexaran plantas para poder usarlas en proyectos."/>
        </div>
    </div>
</section>