---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

import Modal from '../components/MODAL.astro';


interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Esta es mi página donde pongo mis notas, los proyectos que más me has gustado y donde podrás encontrar mis redes sociales" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#030303] text-white flex justify-center">
		<section class="max-w-[1680px] min-w-[320px] w-full">
			<section class="m-4">
				<!--<Modal/> -->
				<Navbar />
				<slot/>
				<Footer />
			</section>
		</section>
	</body>	
</html>

<style is:global>
	*::selection {
    background-color: #26bb80;
    color: #090909;
	}
	
	*::-moz-selection {
		background-color:#26bb80;
		color: #090909;
	}
	body{
		scrollbar-color: #26bb80;
	}
	body::-webkit-scrollbar {
		background-color: #090909;
		max-width: 5px;
	}
	body::-webkit-scrollbar-track {
		background: linear-gradient(90deg, rgba(9,9,9,0) 49.9%, hsl(156, 66%, 44%) 50%, rgba(9,9,9,0) 50.1%);
	}
	body::-webkit-scrollbar-thumb {
		background: #26bb80;
		width: 5px;
	}

	html {
		scroll-behavior: smooth;
	}

	.efectico{
        --bg-size: 400%;
        --color-one: #26bb80;
        --color-two: #12543a;
        background: linear-gradient(90deg,var(--color-one),var(--color-two),var(--color-one)) 0 0 / var(--bg-size) 100%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        animation: move-bg 8s infinite linear;
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        .efectico{
            animation: move-bg 8s linear infinite;
        }
        @keyframes move-bg {
            to {
                background-position: var(--bg-size) 0;
            }
        }
    }
</style>