---
interface Props {
	title: string;
    desc: string;
    alt: string;
    src: string;
}
const { title,desc,alt,src } = Astro.props;
--- 

<div class="max-w-xs cursor-pointer rounded-lg bg-white p-2 shadow duration-150 hover:scale-105 hover:shadow-md">
    <img class="w-full rounded-lg object-cover object-center" src={src} alt={alt} />
    <p class="my-4 pl-4 font-bold text-gray-500">{title}</p>
    <p class="mb-4 ml-4 text-xl font-semibold text-gray-800">{desc}</p>
</div>